@model SurveyIndexViewModel

<div class="container">
    <h2>Your information has been submitted.</h2>
    <p class="lead">Thank you! <small>Forget something? You can <a href="@Url.Action("Index", new { id = Model.Survey.Url })">go back</a> and change your answers.</small></p>
</div>
